################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Serial-image-converter
/Serial-monitor-pc/.vs
/Serial-monitor-pc/bin/Debug/net9.0-windows
/Serial-monitor-pc/obj
